.color
{
    background-color: #FFFBF0;
}
.name-color
{
    color: #FABE4C;
}
.new-color
{
    color: #120d49;
}
.green
{
    background-image: linear-gradient(#6ab04c,#A3CB38) ;
}
.image-card{
    background-color: #F1F1F1;
    
    border-radius: 20px;
    
}
.penguine-card
{
 border: 0;
 border-radius: 20px;
}
.penguine-card-border
{
    border: 0;
    background-color:white;
}
.footer-card
{
    border: 0;
    border-radius: 20px;
}
..green img
{
    background: none;
}
.extra-section
{
    height: 400px;
    background-color:#fdf6e3;
}
.extra-section a{
    text-decoration: none;
}
